#section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 15%;
    width: 100%;
    margin-bottom: 0px;
}

#buttons input {
    width: 70px;
    cursor: pointer;
    margin: 0;
}

input {
    margin: 6px;
}

#getInput {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

#ul-1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
}

i {
    margin: 5px;
}

#ul-2 {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 30px;
}

.complete {
    text-decoration-line: line-through;
}

#edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#edit span {
    display: 'flex';
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
}

#confirmEdit {
    display: flex;
    flex-direction: row;
}

.inputEdit {
    display: flex;
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    padding: 12px 20px 12px 20px;
    margin: 0;
    background-color: #DDDDDD;
    font: 16px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

ul::-webkit-scrollbar {
    display: none;
}

img {
    width: auto;
    height: 30px;
}

:host {
    width: 100%;
}