<section id="section-buttons">
  <form id="buttons">
    <input (click)="buttons('all')" class="allButton" type="submit" value="All" />
    <input (click)="buttons('active')" id="activeButton" type="submit" value="Active" />
    <input (click)="buttons('complete')" id="completeButton" type="submit" value="Complete" />
    <!-- <input (click)="buttons('')" id="downloadButton" type="submit" value="Download"> -->
    <!-- <input (click)="buttons('')" id="uploadButton" type="submit" value="Upload"> -->
    <input (click)=" buttons('signup')" id="signup" type="submit" value="signup" />
    <input (click)="buttons('login')" id="login" type="submit" value="login" />
    <!-- <input (click)="buttons('')" id="logout" type="submit" value="logout" /> -->
  </form>
</section>
