<section id="section-buttons">
  <form id="buttons">
    <input (click)="allButton('all')" class="allButton" type="submit" value="All" />
    <input (click)="activeButton('active')" id="activeButton" type="submit" value="Active" />
    <input (click)="completeButton('complete')" id="completeButton" type="submit" value="Complete" />
    <!-- <input (click)="allButton('')" id="downloadButton" type="submit" value="Download"> -->
    <!-- <input (click)="allButton('')" id="uploadButton" type="submit" value="Upload"> -->
    <input (click)=" signUpButton('signup')" id="signup" type="submit" value="signup" />
    <input (click)="loginButton('login')" id="login" type="submit" value="login" />
    <!-- <input (click)="allButton('')" id="logout" type="submit" value="logout" /> -->
  </form>
</section>
